.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  color: var(--text-color);
}