.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--base-color);
}