<ng-template [ngIf]="project">
  <div class="title">
    <tui-svg [src]="tuiIconTransparentLarge"></tui-svg>
    <h1 class="tui-text_h5">{{ this.project.subject }}</h1>
  </div>

  <div class="details">
    <div class="item">
      <label>Дата начала:</label>
      <span>{{ this.project.startDate | parseDate : 'dd.MM.yyyy' }}</span>
    </div>

    <div class="item">
      <label>Дата окончания:</label>
      <span>{{ this.project.endDate | parseDate : 'dd.MM.yyyy' }}</span>
    </div>

    <div class="item">
      <label>Автор:</label>
      <span>{{ this.project.createdBy }}</span>
    </div>

    <div class="item">
      <label>Описание:</label>
      <span>{{ this.project.description }}</span>
    </div>

    <div class="item">
      <label>Стоимость:</label>
      <span>{{ this.project.cost | currency : 'RUB ' }}</span>
    </div>

    <div class="actions">
      <button icon="tuiIconEditLarge" tuiButton size="l" appearance="secondary" (click)="edit()">Изменить</button>
      <button
        icon="tuiIconTrashLarge"
        tuiButton
        size="l"
        appearance="accent"
        (click)="this.editProjectService.confirmDelete(confirm)"
      >
        Удалить
      </button>
    </div>
  </div>
</ng-template>

<ng-template #confirm>
  <div class="confirm-dialog">
    <h2 class="tui-text_h5">Удаление записи</h2>

    <p>
      Вы уверены что хотите удалить запись <b>"{{ this.project?.subject }}"</b>?
    </p>

    <button icon="tuiIconTrashLarge" tuiButton size="l" appearance="accent" (click)="delete()">Продолжить</button>
  </div>
</ng-template>
