.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.item > label {
  font: var(--tui-font-text-m);
  font-weight: bold;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
}