<section class="dashboard">
  <aside class="aside">
    <button tuiButton size="m" appearance="primary" (click)="add()">Добавить</button>

    <ng-template [ngIf]="!hasItems">
      <div class="stub-item">
        <p class="tui-text_body-xl">Добавьте запись!</p>
      </div>
    </ng-template>

    <div class="list" #listRef>
      <app-list [projects]="this.projectsServices.projects"></app-list>
    </div>
  </aside>

  <div class="details">
    <router-outlet></router-outlet>
  </div>
</section>
