<section class="dashboard">
  <aside class="aside">
    <button
      icon="tuiIconPlusCircleLarge"
      tuiButton
      size="l"
      appearance="primary"
      (click)="this.editProjectService.add()"
    >
      Добавить
    </button>

    <ng-template [ngIf]="!hasItems">
      <div class="stub-item">
        <p class="tui-text_body-xl">Добавьте запись!</p>
      </div>
    </ng-template>

    <div class="list">
      <app-list [projects]="this.projectsService.projects"></app-list>
    </div>
  </aside>

  <div class="details">
    <router-outlet></router-outlet>
  </div>
</section>
