/* You can add global styles to this file, and also import other style files */

:root {
  --base-color: #6a11cb;
  --background-color: #0c202b;
  --text-color: #fff;
  --active-link-color: #ffff00ff;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}